* {
	box-sizing: border-box;
	-moz-box-sizing: border-box; }


.hide {
	display: none; }

pre {
	margin: 0 !important;
	display: inline-block; }

.form-item {
	margin: 1em;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	background: none; }

input {
	height: 38px;
	width: 100%;
	border-radius: 5px;
	font-family: inherit;
	font-size: 100%;
	color: inherit;}

input, select {
	border: 1px solid #CCC;
	}

::-webkit-input-placeholder {
	color: #BBB; }

::-moz-placeholder {
	/* Firefox 19+ */
	color: #BBB;
	opacity: 1; }

:-ms-input-placeholder {
	color: #BBB; }

